<div id="bio">
  <section>
  <h2>The Artist</h2>
  <p>
    Linda Armstrong received her BFA from the Atlanta College of Art and her MFA from Georgia State University.

    She attended Yale at Norfolk summer program on a fellowship.
  </p>
  <p>
    Ms. Armstrong has been the recipient of artist residencies at ComPeung Center in Chiang Mai, Thailand; Takt Kunstprojektraum, Berlin, Germany; the Sanskriti Foundation, New Delhi, India; Caversham Centre for Artists and Writers Program, South Africa; the Hambidge Center for Creative-Arts in Rabun Gap, GA and the Virginia Center for the Creative Arts, Sweet Briar, VA.
  </p>
  <p>
    She has been the recipient of numerous grants and fellowships including the Southern Arts Federation/National Endowment for the Arts, Fulton County Arts Council, and the City of Atlanta Bureau of Cultural Affairs.
  </p>
  <p>
    She has had one-person exhibitions at KunstraumTapir, Berlin, Germany, the Museum of Contemporary Art of Georgia, the Institute of Ecology at the University of Georgia, the Southeastern Center for Contemporary Art, the Atlanta Contemporary Art Center, the Spruill Gallery, Converse College, Martha Berry College, Rome, GA, Ybor Art Gallery, Hillsborough Community College, Tampa, FL and Sandler Hudson Gallery, Atlanta, GA.
  </p>
  <p>
    She has been included in numerous group exhibitions, including, ‘Copy Cat Art’, Franklin Furnace, NYC, ‘Still Water’ at Agnes Scott College and ‘Drawn in Georgia: works on paper from the MOCA GA permanent collection’.
  </p>
  <p>
    Her work is included in the Hartsfield Jackson Atlanta International Airport collection.
  </p>
  <p>
    Since 1993 Linda Armstrong has taught Sculpture at Emory University’s Art History Department.
  </p>
  </section>

  <section>
  <h2>Solo Exhibitions</h2>
  <p>
    "Then the Letting Go", Installation Project: ComPeung, Chiang Mai, Thailand, 2013
    <br>
    "Fruits of Wandering", Moon Gallery, Martha Berry College, Rome, GA, 2012
    <br>
    "Excerpts", Kunstraum Tapir, Berlin, Germany, 2011
    <br>
    "Mycological Meandering", Sandler Hudson Gallery, Atlanta, GA, 2011
    <br>
    "Beach", Museum of Contemporary Art of Georgia, Atlanta, GA, 2010
    <br>
    "Specimens, Observations and Drawings" Ybor Art Gallery, Tampa, FL, 2009
    <br>
    "Collecting Excursions", Emory Visual Arts Gallery, Atlanta, GA, 2008
    <br>
    "Field Studies: Failed Encyclopedic Dreams", Spruill Gallery, Atlanta, GA, 2006
    <br>
    "Accretion", Milliken Gallery, Converse College, Spartanburg, SC, 2005 
    <br>
    "Missoe", Emory University Studio Arts, Atlanta, GA, 1999
    <br>
    "Specimens", Institute of Ecology, University of Georgia. Presented by the Georgia Environmental Policy Institute and the River Corridors Initiative, Athens, GA, 1998
    <br>
    "Specimens", Southeastern Center for Contemporary Art, Winston-Salem, NC, 1994
    <br>
    "Selected Text", Nexus Contemporary Art Center, Atlanta, GA, 1989
    <br>
    "Mahabalipuram", Young Harris College, Young Harris, GA, 1985
    <br>
    "Traveling", Southeastern Center for Contemporary Art, Winston-Salem, NC, 1983
    <br>
    "She did not have a map", Chastain Gallery, Atlanta, GA, 1982
    <br>
    "Linda Armstrong", Lee Hall Gallery, Clemson University, Clemson, SC, 1977
    <br>
  </p>
  </section>

  <section>
  <h2>International Artist Residencies</h2>
  <p>
    ComPeung, Chiang Mai, Thailand, 2013
    <br>
    Takt Kunstprojektraum, Artist Residency, Berlin, Germany, 2009, 2011
    <br>
    Sanskriti Foundation, Artist Residency, New Delhi, India, 2010
    <br>
    Caversham Centre for Artists and Writers Residency Program, South Africa. Hammonds House and Fulton County Arts Council, 2007
    <br>
    Hambidge Fellow, Hambidge Center, Rabun Gap, GA, 1989, 91,94,95,97,2000-09
    <br>
    Virginia Center for the Creative Arts, Fellow, Sweet Briar, VA, 2000, 2002
  </p>
  </section>

  <section>
  <h2>Selected Group Exhibitions</h2>
  <p>
  "Dry", Tempus Projects, Tampa, FL, 2014
  <br>
  "Cross-Currents", Faculty- Alumni Exhibition, curated by Rebecca Dimling -Cochran. Emory Visual Arts Gallery, 2014
  <br>
   "Mailbox: a correspondence exhibit celebrating 80 Years of Hambidge", Curated by Didi Dunphy, 2014
   <br>
  "Second Nature", Curated by Barbara Archer, Goat Farm, Atlanta, GA, 2014
  <br>
  "Return to Sender", Tempus Projects, Tampa, FL, 2011
  <br>
  "1x1=One", 2TEN HAUSTUDIO, Ivanhoe, NC, 2011
  <br>
  "South Africa: Artists, Prints, Community: 25 Years at Caversham Press" 808 Gallery at Boston University, Boston MA 2011
  <br>
  "Atlanta Juried Printmaking Exhibition", Chastain Arts Center, Atlanta, GA, 2011
  <br>
  "Open Studio", Sanskriti Foundation, New Delhi, India, 2010
  <br>
  "Open Studios", Takt Kunstprojektraum, Berlin, Germany, 2009
  <br>
  "Still Water", Dalton Gallery, Agnes Scott College, Atlanta, GA, 2009
  <br>
  "Everything and the Space between Everything", Atrium Gallery, Hartsfield Jackson International Airport, 2009
  <br>
   "Photo-Related Works from the MOCA GA Permanent Collection," Museum of Contemporary Art of Georgia, Atlanta, GA, 2009
   <br>
  "Art by the Emory Visual Arts Faculty", Emory University School of Medicine, Atlanta, GA, 2008
  <br>
  "Earth: A Microcosm", Ferst Center for the Arts, Georgia Institute of Technology, Atlanta, GA, 2008
  <br>
  "Back to Nature:  An Exhibition of Contemporary Botanical Art", Hambidge Center, Rabun Gap, GA, 
  <br>
  "Looks Good on Paper," Spruill Gallery, Atlanta, GA 2007
  <br>
  "Drawn in Georgia: works on paper from the MOCA GA permanent collection", Museum of Contemporary Art of Georgia, Atlanta, GA 2006 
  <br>
  "Disclosures", Women's Caucus for the Arts, Georgia Perimeter College, Atlanta, GA 2005
  <br>
  "Wayne Kline and the Rolling Stone Press", Museum of Contemporary Art of Georgia, Atlanta, GA, 2004-05
  <br>
  "The Open Sky Exhibit", Kennesaw State University, Kennesaw, GA, 2005
  <br>
  "The Push Pin Exhibit", City Hall East Gallery, Atlanta, GA, 2005
  <br>
  "Refusing to Dance Backwards", Spruill Center Gallery, Atlanta, GA, 2005
  <br>
  "Live Art", Space 301, Center for the Living Arts, Mobile, AL, 2004
  <br>
  "Tender Landscape", Agnes Scott College, Atlanta, GA, 2004
  <br>
  "Striking Comparisons: From the Permanent Collection", Museum of Contemporary Art of Georgia, Atlanta, GA, 2004
  <br>
  "Works on Paper", Temple Gallery, Atlanta, GA, 2004
   <br>
  "Studio Sweepings", 3TEN Hausestudio, Atlanta, GA 2004
  <br>
  "20 Year Print Retrospective", Rolling Stone Press Gallery, Atlanta, GA, 2003
  <br>
  "Emory Faculty", SouthTrust Bank Gallery, Atlanta, GA, 2003
  <br>
  "Emory Faculty", Emory Visual Arts Gallery, Atlanta, GA, 2003
  <br>
  "Emory Chair's Project", Emory University, 2003
  <br>
  "Transitions" and "Artists in the Permanent Collection", Museum of Contemporary of Georgia, Atlanta, GA, 2002
  <br>
  "Artists in the Permanent Collection", Museum of Contemporary of Georgia, Atlanta, GA, 2002
  <br>
  "Science and Art: Shared Frontiers", Schatten Gallery, Robert W. Woodruff Library, Emory University, 2001
  <br>
  "Long Beach Island Foundation of the Arts and Sciences National Exhibition", Loveladies, New Jersey, 2000
  <br>
  "Take a Second Look", Spruill Center Gallery, Atlanta, GA, 2000
  <br>
  "Personal Circumstances, Georgia Artists at the End of the Century", Spruill Center Gallery, Atlanta, GA, 2000
  <br>
  "Eight Artist's Views of Beauty and Bio-Diversity The Highlands Plateau and Beyond", Bascom-Louise Gallery, Highlands, NC
  <br>
  "Faculty Exhibition", Atlanta College of Art, Atlanta, GA, 1999
  <br>
  "Faculty Exhibition", Emory University, Atlanta, GA, 1998
  <br>
  "PhotoNominal'97", The Forum Gallery, Jamestown, NY, 1997
  <br>
  "River Corridors Initiative", Sautee-Nacoochee Community Center, Sautee, GA, 1996
  <br>
  "GreenSpace", Four Person, Hickory Museum, Hickory, NC, 1994. University of Florida Gallery, Gainesville, FL, 1994, Nexus Contemporary Art Center, Atlanta, GA, 1993
  <br>
  "Local Love, Sex and Death", Nexus Contemporary Art Center, Atlanta, GA, 1994
  <br>
  "20 Artists/20 Years", Nexus Contemporary Art Center, Atlanta, GA, 1993
  <br>
  "Contacts/Proofs", Curated by Gary Sangster, Jersey City Museum, Jersey City, NJ, 1993
  <br>
  "SAF/NEA Fellowship Exhibition", Atlanta College of Art Gallery, Atlanta, GA, 1993
  <br>
  "Hot/Cold Abstraction", Curated by Geoffrey Bates, Salem College, Winston-Salem, NC, 1992
  <br>
  "Electrografias: La Coleccion del MIDE", Traveling Exhibition throughout Spain: Ciudad Real, Albacete, Murcia, Madrid, Castellon, Azraoza,  Electrografia Museo Internacional, Cuenca, Spain. 1991-92   
  <br>
  "Artist's Books", Curated by Pattie Belle Hastings, Sandler Hudson Gallery, Atlanta, GA 1992
  <br>
  "Cheekwood National Contemporary Painting Exhibition", Tennessee Fine Arts Center, Nashville, TN,1991
   <br>
  "PaperWorks SouthEast", Best Painting Award, Quinlan Art Center, Gainesville, GA, 1991
  <br>
  "Birmingham Biennial", Birmingham Museum, Birmingham, AL, 1989                                                               
  <br>
  "Greater Midwest International Exhibition ", Central Missouri State University Art Gallery, MO, 1989
  <br>
  'Positive, Negative", Slocomb Galleries, East Tennessee State University, Johnson City, TN, 1989
  <br>
  "Armstrong, Gumnit, Holcomb, Tuttle", Hillman Holland Gallery, Atlanta, GA, 1989
  <br>
  "LaGrange National XIV", Chattahoochee Valley Art Association, LaGrange, GA, 1989
  <br>
  "Artist's Notebooks", Atlanta College of Art Library, Atlanta, GA, 1989
  <br>
  "A Forrest Avenue Farewell", Nexus Contemporary Art Center, Atlanta, GA, 1989
  <br>
  "Artists In Georgia: 1988", Nexus Contemporary Art Center, Atlanta, GA, 1988
  <br>
  "The Third Atlanta Biennale", Nexus Contemporary Art Center, Atlanta, GA, 1987
  <br>
  "Atlanta's Reel Women", North Druid Hill Cinema, Atlanta, GA, 1987  
  <br>
  "Breaking Form", Performance Piece, Cuongnhu Studio, Atlanta, GA, 1987
  <br>
  "The Second Atlanta Biennale", Nexus Contemporary Art Center, Atlanta, GA, 1986
  <br>
  "Shared Quarters", Ersatz Gallery, Atlanta, GA, 1986
  <br>
  "Our Way", Alternative Space, Our Way, Atlanta, GA, 1986
  <br>
  "International Biennial Copy-Art", Taller Galleria Fort, Barcelona, Spain, 1985
  <br>
  "Eight Artists", Atlanta College of Art Gallery, Atlanta, GA, 1985
  <br>
  "Xerography Exhibition", Southeastern Center for Contemporary Art", Winston-Salem, NC, 1984
  <br>
  "Photography/Xerography Exhibition", Pinnacle Gallery, Rochester, NY, 1984
  <br>
  "Political Art", Nexus Gallery, Atlanta, GA, 1984
  <br>
  "The Art Network/Southeastern Artists:  Artspaces Invitational:" Nexus Gallery, Atlanta, GA, 1983
  <br>
  "Atlanta Women", Nexus Gallery, Atlanta, GA, 1983 "Copy Cat Art", Franklin Furnace, NYC, 1982
  <br>
  "Invitational Exhibition", Atlanta Arts Festival, Atlanta, GA, 1980  "LaGrange Nation IV", LaGrange, GA, 1978 "36 Women Artists", Peachtree Center, Atlanta, GA, 1978   "Four Atlanta Artists", LaGrange College Gallery, LaGrange, GA, 1978
  </p>
  </section>

  <section>
  <h2>Grants and Awards</h2>
  <p>
    Center for Creativity and Arts Grants, Emory University, 2010, 2008, 2013
    <br>
    University Research Grant, Emory University, 2007
    <br>
    Caversham Centre, Residency Grant, South Africa, 2007
    <br>
    Fulton Country Arts Council grant, 1999, 2006, 2007
    <br>
    University of Salamanca, Spain, Emory University Spanish Program, 2001
    <br>
    Artists Grant, Bureau of Cultural Affairs, City of Atlanta, 1985, 86,89,92,97
    <br>
    Women in the Visual Arts Award, State of Georgia, 1997. 
    <br>
    Georgia Council for the Arts, Individual Artist, 1993.
    <br>
    Southern Arts Federation / National Endowment for the Arts, Regional Arts Fellowship, 1992
    <br>
    Artists Grant, Fulton County Arts Commission, Atlanta, GA, 1989, 1993 
    <br>
    Faculty Research Grant, Georgia State University, 1986
    <br>
    Yale at Norfolk, Ellen Battell Stoeckel Fellowship, 1973
  </p>
  </section>

  <section>
  <h2>Curatorial</h2>
  <p>
    'Halfway to Invisible', Eve Andree Laramee, Emory Visual Arts Gallery, Feb, 2009
    <br>
    'Martha Rosler: Bringing the War Home', Emory Visual Arts Gallery, Sept-Oct, 2008
    <br>
    'Emory Chairs Project', Emory University campus, Spring, 2003
  </p>
  </section>

  <section>
  <h2>Reviews and Publications</h2>
  <p>
    Jerry Cullum, <a href="http://www.artsatl.com/2014/05/second-nature-goat-farm/">Last Call: "Second Nature"</a>, thoughtful and visually stunning group show at Goat Farm, closes May 17, 2014
    <br>
    Lucas Carpenter, Still Water, Art Papers, January/February, 2010
    <br>
    Karen Tauches, Linda Armstrong's Beach doesn't greenwash the environment; Burnaway, August 23, 2010  
    <br>
    Lisa Kurtzner, Mushrooms bring nature inside Emory, Atlanta Journal Constitution, April 13, 2008
    <br>
    Phil Oppenheim, Looks Good on Paper, Art Papers, November/December, 2007
    <br>
    Phil Oppenheim, In Exile from the Land of Reason, Art Papers, March/April, 2007
    <br>
    Catherine Fox, All the angles of politics: In Exile from the Land of Reason, Atlanta Journal-Constitution, January 28, 2007
    <br>
    Jerry Cullum,  '40 Years of Good Ideas: Drawings' subjects, style pass the test', Atlanta Journal-Constitution, December 10, 2006
    <br>
    Felicia Feaster, Art School, Linda Armstrong and Stan Woodard at Spruill  Creative Loafing, October 2006
    <br>
    Jennifer Brett, Show focus on ecology, history, The Atlanta Journal-Constitution, October 20, 2006
    <br>
    Diana McClintock, Atlanta, Missoe reproduction, Art Papers, March/April 2005
    <br>
    Jerry Cullum  Stone Fine Prints: Georgians show lithograph's range, Atlanta Journal-Constitution, 2005
    <br>
    Catherine Fox, Impromptu show delivers range, intimacy, Atlanta Journal-Constitution, 2005
    <br>
    Felicia Feaster, Dancing Around an Idea, Creative Loafing, 2005
    <br>
    Catherine Fox, Group exhibit refuses to pack feminist punch it might have,
    <br>
    Atlanta Journal-Constitution, 2005
    <br>
    Jerry Cullum, Timely Topics, from MOCA GA'S Collection: a Feast of Fearless Works, Atlanta Journal-Constitution, 2004
    <br>
    Jerry Cullum, World of Possibility 'Landscapes' have a human element Atlanta Journal-Constitution, 2004
    <br>
    Jerry Cullum, Divergent takes on similar themes, Atlanta Journal-Constitution, 2003
    <br>
    Catherine Fox, Campus Sit-In, Diverse, provocative creations stand their ground at Emory, Atlanta Journal-Constitution, 2003
    <br>
    Eric Rangus, Have a seat: Chairs on display through May 15, Emory Report, 2003
    <br>
    Annette Cone-Skelton, Transitions, Catalog, Museum of Contemporary Art of Georgia, 2002
    <br>
    Felicia Feaster, Then and Now, Creative Loafing, 2002
    <br>
    Catherine Fox, Past and Present, Atlanta Journal, 2002
    <br>
    Susan Richmond, Take a Second Look, Art Papers, Nov/Dec, 2000
    <br>
    Jerry Cullum, Found objects: Everything old is new again, Atlanta Journal, August, 2000
    <br>
    Catherine Fox, Recognizing Georgia artists in an engaging retrospective, Atlanta Journal, April 2000
    <br>
    Christa S. Frangiamore, The River Corridors Initiative, Art Papers, May-June, 1997
    <br>
    Gary Nickard, PhotoNominal'97, Catalog, The Forum Gallery, 1997
    <br>
    Mitchell Seidel, "Jersey City exhibit spotlights proofs as works in progress", Jersey City News, 1993
    <br>
    Elizabeth Elkins, Support flows for exhibit on South's rivers, Atlanta Journal, 1996
    <br>
    Tom Campbell, Barrier Island, Art Papers, Jan-Feb, 1996
    <br>
    Linda Armstrong & Pattie Belle Hastings, Barrier Island, Ice House Press, 1995 Atlanta Journal, 1993 
    <br>
    "The Art of Looking: Contacts/Proofs, Jersey City Museum", Journal of the Print World, spring 1993
    <br>
    Nancy Princenthal, "Artist's Book Beat", The Print Collector's Newsletter, May-June, 1993
    <br>
    Louise Shaw, "20 Artists/20Years", Catalog, Nexus Contemporary Art Center, 1993
    <br>
    Cheekwood National Contemporary Painting, Neal Benezra, Juror, Catalog, 1991
    <br>
    Tom Patterson, "Three solo exhibits at SECCA look at women's role in society," Winston-Salem Journal, 1994
    <br>
    Julia Fenton, "Local Love, Sex and Death", Catalog, Nexus Contemporary Art Center, 1994
    <br>
    Peter Frank, GreenSpace, Catalog Essay, 1993
    <br>
    SAF/NEA Catalog insert, New Art Examiner, Sept, 1993
    <br>
    Catherine Fox, "Nexus reunion reflects artists' growth, change", Atlanta Journal, 1993
    <br>
    Tom Patterson, "Contrasts: Exhibit offers intriguing spins Rebecca Dimling, "GreenSpace", Art Papers, July-Aug, 1993 
    <br>
    Catherine Fox, "A New Landscape, Peaceful vistas give way to darker vision of mankind and nature", The Atlanta Journal, April, 1993
    <br>
    Thomasine Bradford, "Linda Armstrong, Ruth Gumnit, Ann Holcomb, and Lisa Tuttle", Art Papers, 1990
    <br>
    Laura C. Lieberman, "Nexus Spring Show Features Diverse Art Forms", The Atlanta Journal, 1989
    <br>
    J.W. Cullum, "Linda Armstrong: Selected Text", Art Papers, July-Aug, 1989
    <br>
    Susan Krane, "Birmingham Biennial Catalog", 1989
    <br>
    Catherine Fox, "Hillman Holland Exhibit Intrigues, Confounds", The Atlanta Journal, 1989
    <br>
    Linda Armstrong, "Artists Page", Art Papers, May/June, 1988 
    <br>
    Dan Talley, "Artists in Georgia: 1988" Catalog, 1988
    <br>
    Thomas Dorn, "Shared Quarters", Art Papers, Jan/Feb, 1987 on abstraction"  Winston-Salem Journal, Nov, 1992
    <br>
    Dan R. Talley, Southern Arts Federation National Endowment for the Arts 1992 Fellowship, Catalog Essay Rob Miller, Book, Art Papers, Nov-Dec, 1992
    <br>
    Tom Patterson, "Good Show: Galleries made '92 a winner", Winston-Salem Journal, 1992
    <br>
    Linda Armstrong, Elizabeth Lide, Joanne Paschall, Mary Margaret Wade, and Kathy Yancey
    <br>
    "Home: A Game and Activity Book for Children of All Ages", Art Papers, 1992
    <br>
    J.W. Cullum, "Our Way", Art Papers, Jan/Feb, 1987
    <br>
    Glen Harper, "Commentary", Art Papers, Jan/Feb, 1987 
    <br>
    Catherine Fox, "Shared Quarters Adds Up to Be A Great Deal Of Quiet Work, Dedication", Atlanta Journal, Glenn Harper, "The Second Atlanta Biennale", Art Papers, July/Aug, 1986   
    <br>
    William Blitiri, "Laurie Alan, Gene Allcott, Linda Armstrong, Potsy Duncan, King Thackston," Art Papers, Sept/Oct, 1985
    <br>
    Jan Avgikos, "Exhibit Puts Dent in the Term 'Southern Art", Atlanta Journal, 1985
    <br>
    Dan Talley, "Linda Armstrong", Art Papers, Feb/Jan, 1983
  </p>
  </section>


  <section>
  <h2>Collections</h2>
  <p>
    Hartsfield-Jackson Atlanta International Airport Collection
    <br>
    Mechanicsville Fulton County Public Library, Atlanta, GA
    <br>
    Museum of Contemporary Art of Georgia
    <br>
    Fulton County Arts Commission
    <br>
    Artists Book, Artists Books Collection, Atlanta College of Art Library
    <br>
    Woman's Path, Permanent Installation, Atlanta Contemporary Art Center
    <br>
    Taller Galleria Fort, Barcelona, Spain
    <br>
  </p>
  </section>

  <section>
  <h2>Committees, Artist's Talks</h2>
  <p>
    Guest Reviewer, Installation Art Class, Georgia Institute of Technology, 2012
    <br>
    Artist Talk, Moon Gallery, Martha Berry College, Rome, GA, 2012
    <br>
    Moderator, John Grade: Piedmont Divide. Panel Discussion. Visual Arts Department, Emory University, 2011
    <br>
    Artist Talk, Kunstraum Tapir, Berlin, Germany, 2011.
    <br>
    Juror, Hambidge Center, 2011.
    <br>
    Panelist, Talking Water: a panel of artists and environmentalists discuss the power of art and activism.
    <br>
    Agnes Scott College, 2009
    <br>
    Panelist, The Artist and the Environment, Women's Caucus for the Arts, Ferst Center for the Arts, Georgia Institute of Technology, March 9, 2008 
    <br>
    Fulton County Arts Commission Visual Arts Panel Member, 2007
    <br>
    The Piedmont Project at Emory University, Environmental Issues, 2005
    <br>
    Board Member, Atlanta Center for Contemporary Art, 1998-2004. Gallery Committee Chairperson 2002-03, Education Committee Chairperson, 2003-04
    <br>
    Core Artists Panel, Atlanta Airport Arts Commission, 2003
    <br>
    Guest Artist, Spellman College, Atlanta, GA, 2003
    <br>
    Director, Emory Chairs Project, 2002-03
    <br>
    University of Salamanca, Spain, Emory Faculty Development, 2001.
    <br>
    Panel Member, U.S.General Services Administration, Art-in-Architecture Program, 1998-2001.
    <br>
    Women in the Visual Arts Award, State of Georgia, 1997.
    <br>
    Arts Advisory Committee Member, Arts Festival of Atlanta, 1991-94.
    <br>
    Lecture, Works in Progress, 20th Century Art Society, High Museum of Art, Atlanta, 1989.
    <br>
    Artist-in-Residence, Clayton Junior College, 1986.
    <br>
    Fulton County Arts Commission Visual Arts Panel Member, 1986.
    <br>
    Board Member, Image Film and Video Center, Atlanta, GA, 1985-86.
    <br>
    Gallery Committee Chairperson, GSU, 1985-86.
    <br>
    Judge, Student Art Exhibition, Young Harris Junior College, Young Harris, GA, 1984. Guest Lecturer, LaGrange College Art Department, LaGrange, GA, 1978.
    <br>
    SOHO 20, Women in the Arts Slide Presentation, NYC, 1977.
    <br>
    Festival of Women in the Arts, Artists-in-the Schools, Atlanta, GA, 1977.
  </p>
  </section>

  <section>
  <h2>Education</h2>
  <p>
    Yale University Summer School of Music and Art, 1973  
    <br>
    Atlanta College of Art, BFA, 1973
    <br>
    Georgia State University, MFA, 1978
  </p>
  </section>

  <section>
  <h2>Teaching Experience</h2>
  <p>
    Emory College, Art History Department, Senior Lecturer, 2014-present
    <br>
    Emory College, Visual Arts Department, Senior Lecturer, 2002-2014 
    <br>
    Emory College, Chair, Visual Arts Department, 2007-09 and 2013-2014
    <br>
    Emory College, Teaching Affiliate, 1993-2002     
    <br>
    Atlanta College of Art, Adjunct Professor, 1990 - 2001    
    <br>
    Georgia State University, Assistant Professor, 1985-90
  </p>
  </section>
</div>
