<div class="gallery">
	<h1>Collecting Excursions</h1>
	<ul class="row">
		<li><%= image_tag '1.CollectingExcursions.jpg' %></li>
    <li><%= image_tag 'Agaric.jpg' %></li>
    <li><%= image_tag 'WooleyAdelgid.jpg' %></li>
	</ul>
</div>
