<% @galleries.each do |gallery| %>
  <div class="gallery">
    <h1><%= gallery.title %></h1>
    <ul class="row">
      <% gallery.images.each do |image| %>
        <li><%= image_tag image.thumbnail %></li>
      <% end %>
    </ul>
  </div>
<% end %>
